
/* Grid */

main .grid {
    display: grid;
    gap: 9px;
}

main .grid div, main .grid figure {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.cols-0 {
    grid-template-columns: repeat(1, 1fr);
}

.cols-1 {
    grid-template-columns: repeat(1, 1fr);
}

.cols-2 {
    grid-template-columns: repeat(2, 1fr);
}

.cols-3 {
    grid-template-columns: repeat(3, 1fr);
}

.cols-4 {
    grid-template-columns: repeat(4, 1fr);
}

.cols-5 {
    grid-template-columns: repeat(5, 1fr);
}

@media only screen and (max-width: 600px) {
    .cols-0, .cols-1, .cols-2, .cols-3, .cols-4, .cols-5 {
        grid-template-columns: repeat(1, 1fr);
    }
}
