---
a: 1
title: Index
#layout: _default
---

{{ import "test" }}

{{- define "page_content" }}
# This is an index page
- A = {{.a}}
- Id = {{.Page.Id}}
- Name = {{.Page.Name}}
- Title = {{.Page.Title}}
- Uri = {{.Page.Uri}}
- Url = {{.Page.Url}}

<Image url="https://www.alleycat.org/wp-content/uploads/2019/03/FELV-cat.jpg" />

{{ include "test" (dict "a" 100) }}
{{ include "test" . }}

<Test foo=bar>
This is a **test**!
{{ include "test" (dict "a" 100500) }}
<OMG />
</Test>
{{ end -}}
