---
a: 1
title: Index
tags: [index, page]
#layout: _default
---

{{ import "test" }}

{{- define "page_content" }}

<Grid cols=2>
  <Image>https://www.alleycat.org/wp-content/uploads/2019/03/FELV-cat.jpg</Image>
  <YouTube>https://www.youtube.com/watch?v=Ah_uuTwGOYU</YouTube>
</Grid>

---

# This is an index page
- A = {{.a}}
- Id = {{.Page.Id}}
- Name = {{.Page.Name}}
- Title = {{.Page.Title}}
- Uri = {{.Page.Uri}}
- Url = {{.Page.Url}}

{{ include "test" (dict "a" 100) }}
{{ include "test" . }}

<Test foo=bar>
This is a **test**!
{{ include "test" (dict "a" 100500) }}
<OMG />
</Test>
{{ end -}}
