{% extends "base" %}

{% block main %}
{% block blog_header %}{% endblock %}

{% if !page.variables.blog_no_bg %}
<section class="card">{% endif %}
    {% block blog_before %}
    {% endblock %}

    {% block blog_title %}
        {% include 'blog/title' %}
    {% endblock %}

    {% block blog_before_content %}{% endblock %}

    {% block blog_content %}
        {% block content %}{% endblock %}
    {% endblock %}

    {% block blog_after_content %}{% endblock %}

    {% block blog_tags %}
        {% include 'blog/tags' %}
    {% endblock %}

    {% block blog_after %}
    {% endblock %}
    {% if !page.variables.blog_no_bg %}
</section>{% endif %}

{% block blog_footer %}{% endblock %}
{% endblock %}
