{{- define "body_after" }}
  {{- range .Page.Extras.js }}
    {{ $url := .Url }}
    {{- if has_suffix $url ".js" }}
      <script src="{{ $url }}?_={{ $.System.BuildTime.Unix }}"{{- if .Options.Async }} async{{ end -}}></script>
    {{- else }}
      <script src="{{ $url }}"{{- if .Options.Async }} async{{ end -}}></script>
    {{ end -}}
  {{ end -}}
{{ end }}
