{{- define "footer" }}
  {{- if .Site.Copyright.Rights }}
    <div class="footer-rights">{{ .Site.Copyright.Rights }}</div>
  {{ end -}}
  {{- if or .Site.Copyright.Year .Site.Copyright.Title }}
    <div class="footer-copyright">
      {{- if .Site.Copyright.Title }}
      &copy; Copyright {{ .Site.Copyright.Title }}{{- if .Site.Copyright.Year }}, {{ .Site.Copyright.Year }}{{ end -}}
      {{- else if .Site.Copyright.Year }}
      &copy; Copyright {{ .Site.Copyright.Year }}
      {{ end -}}
    </div>
  {{ end -}}
  <div class="footer-stagen">
    Made with <a href="https://github.com/stagens/stagen" target="_blank">stagen</a>
  </div>
{{ end -}}
