{{- define "head_after" }}
  {{- range .Page.Extras.preconnect_links }}
    {{- if .Options.crossorigin }}
      <link rel="preconnect" href="{{ .Url }}" crossorigin>
    {{- else }}
      <link rel="preconnect" href="{{ .Url }}">
    {{ end -}}
  {{ end -}}
  {{- range .Page.Extras.css }}
    {{ $url := .Url }}
    {{- if has_suffix $url ".css" }}
      <link rel="stylesheet" href="{{ $url }}?_={{ $.System.BuildTime.Unix }}">
    {{- else }}
      <link rel="stylesheet" href="{{ $url }}">
    {{ end -}}
  {{ end -}}
{{ end -}}
