{{- define "_default" -}}
  <!DOCTYPE>
  <html lang="en">
  <head>
    <title>{{ .Page.Title }}</title>
  </head>
  <body>
Page created at {{.Page.CreatedAt}}, changed at {{.Page.ChangedAt}}
{{ page_content }}
  </body>
  </html>
{{- end -}}
