{{- define "_default" }}
  <!DOCTYPE html>
  <html lang="{{ if .Site.Lang -}}{{ .Site.Lang }}{{ else }}en{{ end -}}">
  <head>
    {{- includes .Page.Includes.head_before -}}
    {{- includes .Page.Includes.head -}}
    {{- includes .Page.Includes.head_after -}}
  </head>
  {{ if .pagefind_ignore }}
  <body data-pagefind-ignore>
  {{ else }}
  <body data-pagefind-body>
  {{ end }}
  {{- includes .Page.Includes.body_before -}}
  {{- includes .Page.Includes.header_before -}}
  <header>
    {{- includes .Page.Includes.header -}}
  </header>
  {{- includes .Page.Includes.header_after -}}
  {{- includes .Page.Includes.nav_before -}}
  <nav>
    {{- includes .Page.Includes.nav -}}
  </nav>
  {{- includes .Page.Includes.nav_after -}}
  {{- includes .Page.Includes.main_before -}}
  <main>
    {{- includes .Page.Includes.content_before -}}
    {{- includes .Page.Includes.main -}}
    {{- includes .Page.Includes.body -}}
    {{ render "main" }}
    {{- includes .Page.Includes.content -}}
    {{- includes .Page.Includes.content_after -}}
  </main>
  {{- includes .Page.Includes.main_after -}}
  {{- includes .Page.Includes.aside_before -}}
  <aside>
    {{- includes .Page.Includes.aside -}}
  </aside>
  {{- includes .Page.Includes.aside_after -}}
  {{- includes .Page.Includes.footer_before -}}
  <footer>
    {{- includes .Page.Includes.footer -}}
  </footer>
  {{- includes .Page.Includes.footer_after -}}
  {{- includes .Page.Includes.body_after -}}
  </body>
  </html>
{{ end -}}
