{{- define "main" }}
  <section class="card">
    {{ if and (.Page.Title) (not .no_title) }}<h1>{{ .Page.Title }}</h1>{{ end }}
    {{ page_content }}
  </section>
{{ end -}}

{{- define "base" }}
  {{ extends "_default" }}
  {{ render "_default" }}
{{ end -}}
