.gameslist img {
    width: 80px;
}

.gameslist .items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 2rem;
}

.gameslist .items .item {
    box-sizing: border-box;
    width: 290px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 2rem;
}

.gameslist .items .item .info {

}

.gameslist .info-title {

}

.gameslist .info-year {
    font-size: 80%;
    margin-top: 1rem;
}

.gameslist .info-genres ul {
    list-style: none; /* убираем стандартные маркеры */
    padding: 0;
    margin: 0;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.gameslist .info-genres li {
    background-color: #e0e0e0;
    color: #333;
    padding: 0.25rem 0.5rem;
    border-radius: 9999px;
    font-size: 60%;
    white-space: nowrap;
}

.gameslist .info-rating {
    margin-top: 1rem;
    font-size: 70%;
}

@media (max-width: 600px) {
    .gameslist img {
        width: 100%;
    }

    .gameslist .items .item {
        width: auto;
        flex-direction: column;
    }

    .gameslist .items .item:last-child {
        border: 0;
    }
}
