.video {
    text-align: center;
    vertical-align: middle;
}

.video_caption {
    text-align: center;
    font-style: italic;
    color: #ccc;
}

.video.embed iframe {
    width: 640px;
    height: 360px;
}

@media only screen and (max-width: 600px) {
    .video.embed iframe {
        width: 320px;
        height: 180px;
    }
}
